---
layout: article-page
menuType: styleguide
---

<p>At GetInsured, we strive to create great digital products for our clients and ultimately, seamless experiences for our users. We face the dual challenges of crafting products that are consistent and yet tailor-made for each client. The GetInsured Design System helps us achieve both goals by acting as guidelines for both the things that vary between projects and the ones that stay the same.</p>

<div class="image-wrapper width-limiter-150">
	<img src="/images/design-large.png">
</div>


<h2>
	US Web Design System 2.0 <span class="lozenge lozenge-info">New</span>
</h2>

<p>To comply with the new 21st Century IDEA Act, we use the US Web Design System as a foundation for our frontend code. However, we liberally modify and customize these foundational components to align with our own needs and goals.</p>
{% include content-card.html 
	title = "US Web Design System 2.0"
	desc = "We make it easier to build accessible, mobile-friendly government websites for the American public."
	imagePath = "/images/uswds-icon.png"
	destUrl = "https://designsystem.digital.gov/"
	target = "_blank"
%}

<!-- <h2>Meanings of Terms</h2>
<p><strong>Screen Patterns</strong> &mdash; Examples of user flows and scenarios that we often encounter, with highlights showing how the style guide is applied to them.</p>

<p><strong>Foundation</strong> &mdash; Principles that form the underlying structure of our user interfaces.</p>

<p><strong>Components</strong> &mdash; The atoms and molecules that are used to build our interfaces, such as forms, buttons, panels, and text fields.</p> -->
