---
layout: landing-page
menuType: top-level
---

<div class="landing-page">
	<div class="hero">
		<h1 class="hero-heading">
		    Your one-stop hub <br>for all things design at GetInsured.
		</h1>

<!-- 		<p class="hero-text">
			Your one-stop hub for all things design.
		</p> -->
	</div>

	<h2 class="landing-subheading">Featured</h2>
	{% include content-card.html
		title = "New Jersey Prototype"
		imagePath = "/images/nj-prototype.png"
		destUrl = "https://www.figma.com/file/SDYnZpDMm58JzKx46RdEh7/New-Jersey-Prototype?node-id=643%3A50"
		target = "_blank"
		desc = "A collaborative Figma prototype for GetInsured's pages in Get Covered New Jersey."
	%}

	{% include content-card.html 
		title = "Style Worksheet v1.1"
		desc = "A worksheet that we share with our clients to kickstart the design discussion with them. "
		imagePath = "/images/style-worksheet.png"
		destUrl = "/files/style-worksheet.pdf"
		target = "_blank"
	%}

	<h2 class="landing-subheading">Quick Links</h2>

	<div class="base-grid landing-content-grid">
		{% include content-card-small.html
			title = "All Prototypes"
			desc = "Visual blueprints for implementing our products."
			imagePath = "/images/prototypes-icon.png"
			destUrl = "/prototypes.html"
		%}

		{% include content-card-small.html
			title = "Design System"
			desc = "General design guidelines to be used across our products."
			imagePath = "/images/design-icon.png"
			destUrl = "/design.html"
		%}

		{% include content-card-small.html
			title = "All Resources"
			desc = "A collection of useful links and resources."
			imagePath = "/images/resources-icon.png"
			destUrl = "/resources.html"
		%}

<!-- 		{% include content-card-small.html
			title = "User Research"
			desc = "A collaborative Figma prototype containing all the pages in GetInsured's Nevada health exchange."
			imagePath = "/images/research-icon.png"
			destUrl = "research.html"
		%} -->
	</div>
</div>