---
layout: default-page
menuType: top-level
---

<h1>
    Prototypes
</h1>

<div class="spacer-lg"></div>

{% include content-card.html
	title = "New Jersey Prototype"
	imagePath = "/images/nj-prototype.png"
	destUrl = "https://www.figma.com/file/SDYnZpDMm58JzKx46RdEh7/New-Jersey-Prototype?node-id=643%3A50"
	target = "_blank"
	desc = "A collaborative Figma prototype for GetInsured's pages in Get Covered New Jersey."
%}

{% include content-card.html
	title = "Pennsylvania Prototype"
	imagePath = "/images/pa-prototype.png"
	destUrl = "https://www.figma.com/file/w9YrEdzRihxCH9UbNbKCXr/Pennsylvania-Prototype?node-id=643%3A50"
	target = "_blank"
	desc = "A collaborative Figma prototype for GetInsured's pages in Pennie."
%}

{% include content-card.html
	title = "California Prototype"
	imagePath = "/images/ca-prototype.png"
	destUrl = "https://www.figma.com/file/vd6pcZIb94gYnJJtl0xJWQ/California-Prototype?node-id=685%3A0"
	target = "_blank"
	desc = "A collaborative Figma prototype for GetInsured's pages in Covered California."
%}

{% include content-card.html
	title = "Nevada Prototype"
	imagePath = "/images/nv-prototype.png"
	destUrl = "https://www.figma.com/file/7GDlLs888AiCFnreDDeAHf/Nevada-Prototype?node-id=643%3A50"
	target = "_blank"
	desc = "A collaborative Figma prototype for GetInsured's pages in Nevada Health Link."
%}

