---
layout: default-page
menuType: top-level
---

<h1>
    Resources
</h1>

<div class="spacer-lg"></div>

{% include content-card.html 
	title = "Style Worksheet v1.1"
	desc = "A worksheet that we share with our clients to kickstart the design discussion with them. "
	imagePath = "/images/style-worksheet.png"
	destUrl = "/files/style-worksheet.pdf"
	target = "_blank"
%}

{% include content-card.html 
	title = "US Web Design System 2.0"
	desc = "We make it easier to build accessible, mobile-friendly government websites for the American public."
	imagePath = "/images/uswds-icon.png"
	destUrl = "https://designsystem.digital.gov/"
	target = "_blank"
%}

