<a class="card card-small" target="{{ include.target }}" href="{{ include.destUrl }}">
	<div class="card__image" style="background-image: url({{ include.imagePath }});"></div>
	<div class="card__text">
		<div class="card__text--wrapper">
			<div class="card__text-title">{{ include.title }}</div> 
		</div>
	</div>
</a>