<nav class="menu menu-top-level" id="menu-top-level">
    <div id="logo">
        <img src="images/logo.png">
    </div>

    <div class="content">
        {% for item in site.data.page-directory %}
        {% if item[1].category == "top-level" %}
        <a href="{{ item[1].url }}" class="{% if page.url == item[1].url %}current-page {% endif %}">
            {{ item[1].name }}
        </a>
        {% endif %}
        {% endfor %}

    </div>
</nav>