<nav class="menu menu-second-level" id="page-directory">

    <div class="header">
        <div class="content">
            <a class="special-link" href="/">
                <i class="fas fa-arrow-left"></i>Home
            </a>
            <div class="heading">Design System</div>
            <hr></hr>
        </div>
    </div>


    <div class="auto-hiding-scroll-wrapper">
        <div class="content content-to-scroll">
            <a href="{{ site.data.page-directory.design.url }}" class="{% if page.url == site.data.page-directory.design.url %}current-page {% endif %}">Overview</a>


<!--             <div class="subheading">Project Themes</div>
            {% for item in site.data.page-directory %}
                {% if item[1].category == "projects" %}
                <a href="{{ item[1].url }}" class="{% if page.url == item[1].url %}current-page {% endif %}">
                    {{ item[1].name }}
                </a>
                {% endif %}
            {% endfor %} -->

            <div class="subheading">Screen Patterns</div>
            {% for item in site.data.page-directory %}
                {% if item[1].category == "patterns" %}
                <a href="{{ item[1].url }}" class="{% if page.url == item[1].url %}current-page {% endif %}">
                    {{ item[1].name }}
                </a>
                {% endif %}
            {% endfor %}

            <div class="subheading">Foundation</div>
            {% for item in site.data.page-directory %}
                {% if item[1].category == "foundation" %}
                <a href="{{ item[1].url }}" class="{% if page.url == item[1].url %}current-page {% endif %}">
                    {{ item[1].name }}
                </a>
                {% endif %}
            {% endfor %}

            <div class="subheading">Components</div>
            {% for item in site.data.page-directory %}
                {% if item[1].category == "components" %}
                <a href="{{ item[1].url }}" class="{% if page.url == item[1].url %}current-page {% endif %}">
                    {{ item[1].name }}
                </a>
                {% endif %}
            {% endfor %}


            


        </div>
    </div>
</nav>