/* Custom styles for GetInsured Design */
/* Author: Jesse Wu */
/* Last updated: May 2019; */

$font-text: "SF Pro Text", sans-serif;
$font-display: "SF Pro Display", "SF Pro Text", sans-serif;
$text-color: #33333f;
$background-color: #ffffff;


$primary-color-lighter: #A3DEFF;
$primary-color-light: #5EBBFF;
$primary-color: #0B77DD;
$primary-color-dark: #004CA6;
$primary-color-darker: #043165;
$primary-color-darkest: #00162F;

$primary-color-link: #004CA6;
$primary-color-background: #E3F5FF;


$amber: #ffc107;
$red: #f44336;
$green: #4caf50;

$standard-padding: 16px;

$menu-width: 280px;


* {
	box-sizing: border-box;
}

body {
	font-family: $font-text;
	font-size: 14px;
	color: $text-color;
	line-height: 24px;
	background-color: $background-color;

	a {
		text-decoration: none;
		cursor: pointer;
	}
}

article {

	a {
		color: $primary-color-link;
		font-weight: 500;
		&:hover {
			color: $primary-color-light;
			text-decoration: underline;
		}
	}

	p {
		margin: 20px 0px; 
	}

	li {
		margin-bottom: 4px;
		margin-left: 16px;
	}

	.highlight {
		font-weight: 500;
	}
}




h1 {
	font-family: $font-display;
	font-size: 1.7em;
	font-weight: 500;
	margin-top: 40px;
}

h2 {
	font-family: $font-display;
	font-size: 1.4em;
	font-weight: 500;
	margin-top: 28px;
}

h3 {
	font-size: 1.15em;
	font-weight: 600;
	margin-top: 24px;
}

h4 {
	font-size: 1.0em;
	font-weight: 600;
	margin-top: 16px;
}

h5 {
	font-size: 0.9em;
	font-weight: 600;
	margin-top: 16px;
}

h6 {
	font-size: 0.9em;
	font-weight: 600;
	margin-top: 16px;
}

strong, b {
	font-weight: 700;
}

/*italic*/





/* Formatting tools */

.spacer {
	&-sm { height: 10px; }
	&-md { height: 25px; }
	&-lg { height: 50px; }
}

.width-limiter {
	&-100 { max-width: 100px }
	&-150 { max-width: 150px }
	&-200 { max-width: 200px }
	&-250 { max-width: 250px }
	&-300 { max-width: 300px }
	&-350 { max-width: 350px }
	&-400 { max-width: 400px }
	&-450 { max-width: 450px }
	&-500 { max-width: 500px }
	&-550 { max-width: 550px }
	&-600 { max-width: 600px }
	&-750 { max-width: 750px }
	&-900 { max-width: 900px }
	&-1080 { max-width: 1080px }
	&-1200 { max-width: 1200px }
	&-1960 { max-width: 1960px }
}

.image-wrapper {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;

	img { width: 100%; }

}



/* Content styling */

.nav-logo {
	width: 50px;
	padding-top: 10px;
}

.fa.arrow {
	font-size: 15pt;
	color: #aaaaaf;
}


.auto-hiding-scroll-wrapper {

	overflow: scroll;
	visibility: hidden;

	/* width */
	&::-webkit-scrollbar {
		width: 8px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: transparent; 
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: rgba(0,0,0,0.2);
		border-radius: 100px;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: rgba(0,0,0,0.3); 
	}

	transition: visibility .25s ease-in-out;
}



.auto-hiding-scroll-wrapper:hover,
.auto-hiding-scroll-wrapper:focus{
	visibility: visible;
	transition: visibility .25s ease-in-out;
}

.content-to-scroll {	
	visibility: visible;

}

.menu {
	/*Enables content height to take up rest of page, enabling correct scrolling*/
	display: flex;
	flex-flow: column;

	z-index: 9999;
	width: $menu-width;
	font: 100px;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;

	.content {
		padding-top: $standard-padding;
		padding-bottom: $standard-padding;
		padding-left: $standard-padding;
		padding-right: $standard-padding;
	}

	a {
		box-sizing: border-box;
		display: block;
		text-decoration: none;
		padding: 10x 0px;
		border: 2px solid transparent;
		width: $menu-width - $standard-padding*2;
		i {
			margin-right: 10px;
		}
	}
}

.menu-top-level {
	padding-top: 70px;
	background-color: $primary-color;
	a {
		font-family: $font-display;
		color: rgba(255,255,255,0.7);
		padding: 10px 15px;
		border-radius: 3px;
		font-weight: 400;
		font-size: 1.20em;
		&:hover {
			background-color: rgba(0,0,0,0.4);
			color: rgba(255,255,255,0.9);
		}
		&:active {

		}
		&.current-page {
			color: rgba(255,255,255,0.8);
			background-color: rgba(0,0,0,0.2);
		}
	}


}

$menu-second-level-content-spacing: 5px;

.menu-second-level {
	background-color: #f1f3f5;
	a {
		color: #555f5f;
		line-height: 20px;
		padding: $menu-second-level-content-spacing;
		padding-left: $menu-second-level-content-spacing + 2px;
		border-radius: 3px;
		&:hover {
			color: $primary-color;
			background-color: rgba(0,0,0,0.05);
		}
		&:active {
			color: $primary-color;
			background-color: rgba(0,50,50,0.05);
			
		}
		&.current-page {
			color: $primary-color;
			background-color: rgba(0,50,50,0.05);
			border-color: $primary-color-light;
		}
	}

	.header {
		width: $menu-width;
		/*background-color: $primary-color-dark;*/
		color: #555f5f;
		a {
			/*color: rgba(255,255,255,0.7);*/
			font-weight: 400;
			font-size: 1.10em;
			&:hover {
				background-color: $primary-color;
				color: rgba(255,255,255,0.9);
			}
		}
		.content {
			padding-bottom: 0px;
		}
	}

	.special-link {
		font-weight: 600;
		/*		opacity: 0.75;*/
		color: $primary-color;
	}

	.heading {
		font-family: $font-display;
		/*color: rgba(255,255,255,0.85);*/
		/*color: #555f5f;*/
		font-weight: 500;
		font-size: 1.25em;
		text-transform: none;
		margin-top: 15px;
		margin-bottom: 0px;
		margin-left: $menu-second-level-content-spacing+2+2px;
	}

	.subheading {
		font-weight: 700;
		font-size: 0.875em;
		text-transform: uppercase;
		opacity: 0.85;
		margin-top: 25px;
		margin-bottom: 10px;
		margin-left: $menu-second-level-content-spacing+2+2px;
	}

	hr {
		margin-left: 8px;
		margin-bottom: 0px;
		margin-top: 16px;
		margin-right: 8px;
		border: 1px solid rgba(0,0,0,0.1);
	}
}

.page-wrapper {
	position: absolute;
	padding-top: $standard-padding;
	padding-bottom: $standard-padding;
	padding-right: $standard-padding;
	padding-left: $menu-width + $standard-padding;
	width: 100%;
}

.content {
	padding-top: 20px;
	margin: 0 auto;
}

.lozenge {
	display: inline-block;
	font-size: 8pt;
	font-weight: 500;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	border-radius: 3px;
	width: content;
	padding: 2px 8px 0px 8px;
	color: rgba(255,255,255,0.9);
	line-height: 20px;
	&-info {
		background-color: $primary-color;
	}
	&-warning {
		background-color: $amber;
		color: rgba(0,0,0,0.6);
	}
	&-success {
		background-color: $green;
	}
	&-danger {
		background-color: $red;
	}
}

.info-wrapper {
	border: 1px solid $primary-color;
	border-left: 4px solid $primary-color;
	background-color: $primary-color-background;
	color: $primary-color;
	border-radius: 5px;
	padding: 8px 16px;
}

.table-of-contents {
	margin-top: 24px;
	list-style-type: none;
	border-left: 2px solid $primary-color-light;
	padding-left: 16px;
	li {
		margin-left: 0px;
	}
}




#logo {
	width: 170px;
	margin-left: 35px;
	margin-bottom: 20px;

	img { width: 100% }
}




/* Index Cards */

.card {
	display: flex;
	overflow: hidden;
	margin-top: 16px;
	width: 100%;
	height: 120px;
	background-color: #ffffff;
	font-family: $font-text;
	font-weight: 400;
	font-size: 1em;
	line-height: 2em;
	overflow: hidden;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	// background-color: rgba(245,245,255,0.95);
	box-shadow: 0 4px 16px 0 rgba(0,0,0,0.05);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

	&:hover {
		/*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
		box-shadow: 0 8px 24px rgba(0,0,0,0.1);
		// transform: translate(0, -4px);
		filter: none;
		border: 1px solid $primary-color;
	}

	a:hover {
		text-decoration: none;
	}

	&__image {
		flex: 0 0 160px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		transition: all 0.2s cubic-bezier(.25,.8,.25,1);
		border-right: 1px solid #eaeaea;
	}

	&__text {
		flex-grow: 1;
	    padding: 8px 24px 8px 40px;
	    position: relative;

	    &--wrapper {
	      position: absolute;
	      top: 50%;
	      transform: translateY(-50%);
	    }

		&-title {
			color: rgba(0,0,0,0.8);
			font-size: 16px;
			font-weight: 600;
		}

		&-desc {
			color: rgba(0,0,0,0.55);
			font-size: 13px;
			font-weight: 400;
			line-height: 20px;
		}
	}

	&-small {
		height: 96px;

		.card-image {
			width: 128px;
		}

		.card-text-title {
			font-size: 16px;
			line-height: 76px;
		}
	}
}





/* Landing Page */

.hero {

	margin-top: 0px;

	&-heading {
		font-size: 2.8em;
		line-height: 48px;
		font-weight: 300;
		letter-spacing: 0.5px;
		margin-bottom: 16px;
		color: $primary-color-darkest;
	}

	&-text {
		font-size: 1.2em;
		font-weight: 400;
		line-height: 32px;
	}
}

.landing-page {
	background-color: #fafcff;
}



/* Grid */



.base-grid {
	display: grid;
	margin: 0 auto;
	grid-row-gap: 8px;
	grid-column-gap: 16px;
}

.landing-content-grid {
	grid-template-columns: repeat(2, 1fr);
}




/* Landing */

.landing-subheading {
	margin-top: 40px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
	color: #99999f;
}









