---
layout: article-page
menuType: styleguide
---

<p>Forms with user input fields (e.g. text fields, dropdowns, datepickers etc.) are found everywhere across our webpages. Having a consistent and flexible system for dealing with their sizing is very important in making our forms look presentable.</p>

<h2>Base width system</h2>

<p>The <strong>base width</strong> is the fundamental width on a page or form that all input fields are based on. It can be thought of as an invisible rectangle that determines the width of its contents. In smaller containers, the base width is usually the full width of the container. In bigger containers, or if there is no container, the base width is set to a fixed value that depends on the needs of the page.


<div class="image-wrapper">
	<img src="/images/design/forms/base-width.png">
</div>



<h3>Allowed widths</h3>

<p>Most input fields should take up 100% of the <strong>base width</strong> (not necessarily container width, see above). However, some input fields should have their sizes adjusted to account for the expected length of the input. This mainly applies for medium to large containers; small containers should always have their input fields at 100% of base width (see left image above).

<p>To accommodate these width variations, we use the following set of allowable widths, expressed as a percentage of the base width.</p>
<div class="image-wrapper width-limiter-450">
	<img src="/images/design/forms/allowed-widths.png">
</div>


