---
layout: article-page
menuType: styleguide
---

<p>A panel is a rectangular box of varying sizes that houses content. Most content across our products are presented within panels.</p>

<h2>Basic structure</h2>

<p></p>


<div class="image-wrapper">
	<img src="/images/design/panels/panel-structure.png">
</div>



