---
layout: article-page
menuType: styleguide
---

<div class="spacer-md"></div>

<p>Data tables are very common in our enterprise applications. They enable data to be displayed dynamically, and are both informative and interactive.</p>

<div class="spacer-md"></div>

<h2>Data table with search sidebar</h2>

<p>For tables that don't have many columns (approximately 4 columns or less), the search functionality can be displayed as a side panel. The sidebar should be responsive (i.e. transform into a vertical panel if screen size is reduced).</p>

<!-- <div class="image-wrapper">
	<img src="/images/design/tables-with-search/two-column.png">
</div> -->

<div class="spacer-md"></div>

<ol>
	<li>
		<strong>Table controls</strong> &mdash; Buttons should be in the ghost button style and are always above the top right of the table.
	</li>
	<li>
		<strong>Search sidebar</strong> &mdash; The search side bar is a regular panel that takes like 3 out of 12 columns. See Layout.
	</li>
	<li>
		<strong>Pagination</strong> &mdash; Pagination should be centered, or otherwise right-aligned if other controls are present beneath the table.
	</li>
</ol>


<div class="spacer-md"></div>
<div class="spacer-md"></div>

<h2>Data table with search panel</h2>

<p>For larger tables that have more columns (approximately more than 4 columns), the search panel should be located above the table. This maximizes the horizontal space available for displaying table data.</p>

<!-- <div class="image-wrapper">
	<img src="/images/design/tables-with-search/one-column.png">
</div>
 -->