---
layout: article-page
menuType: styleguide
---

{% assign pagesrc = site.data.page-directory %}

<div class="spacer-md"></div>
<span class="lozenge lozenge-warning">
	2018 Version
</span>
<span class="lozenge lozenge-warning">
	Legacy
</span>


<p>This contains examples of most pages found in the customer admin portal (CAP). Each example is annotated with pointers on how a style guideline is applied to them.</p>
<p class="info-wrapper">A pointer discussed in one example will not be repeated in another. Hence, you are encouraged to look at all the examples on this page to better understand how style guides are applied within CAP.</p>

<div class="spacer-md"></div>

<h2>Create Ticket</h2>

<div class="image-wrapper">
	<img src="/images/design/patterns/create-ticket.png">
</div>

<ol>
	<li>
		<a href="{{ pagesrc.navigation.url }}">Horizontal navigation bar</a> &mdash; The legacy version of the CAP module uses a horizontal navigation bar instead of a vertical one.
	</li>
	<li>
		<a href="{{ pagesrc.panels.url }}">Panel sizing</a> &mdash; This main panel does not need to use the full width of the page because it does not have a lot of content. Instead, it takes up only a portion of the width and is centered on the page, along with the <a href="{{ pagesrc.headers.url }}">page header</a>.
	</li>
	<li>
		<a href="{{ pagesrc.forms.url }}">Single-page form</a> &mdash; This panel is an example of a single-page form.
	</li>
	<li> 
		<a href="{{ pagesrc.text-fields.url }}">Horizontal text fields</a> &mdash; This is an example of labels and input fields being next to each other (as opposed to vertical text fields where the label is above the input field).
	</li>

</ol>


<div class="spacer-md"></div>
<h2>Create User</h2>

<div class="image-wrapper">
	<img src="/images/design/patterns/create-user.png">
</div>
<ol>
	<li>
		<a href="{{ pagesrc.forms.url }}">Single-page form</a> &mdash; This page is an example of a single page form, which has left-aligned buttons.
	</li>
	<li>
		<a href="{{ pagesrc.forms.url }}">Input field widths</a> &mdash; Since this is not a small panel, input fields don't have to take up the entire horizontal width. Here, they are all uniformly sized to half of the container width.
	</li>

</ol>
<div class="spacer-lg"></div>

<h2>Manage Tickets</h2>

<div class="image-wrapper">
	<img src="/images/design/patterns/manage-tickets.png">
</div>

<ol>
	<li>
		<a href="{{ pagesrc.forms.url }}">Header alignment</a> &mdash; The <a href="{{ pagesrc.headers.url }}">page header</a> is always aligned with the leftmost content area on the page. 
	</li>
	<li>
		<a href="{{ pagesrc.headers.url }}">Page header forms</a> &mdash; Controls that relate to the entire page should be placed in line with the <a href="{{ pagesrc.headers.url }}">page header</a>. This also applies for the header <a href="{{ pagesrc.lozenges.url }}">lozenge</a> that is used to display supporting information, such as total number of tickets.
	</li>
	<li>
		<a href="{{ pagesrc.forms.url }}">Input field widths</a> &mdash; Input fields within a small column or container should take up the full container width.
	</li>
	<li>
		<a href="{{ pagesrc.layout.url }}">Vertical two-panel layout</a> &mdash; This page consists of two full-width panels: a search filter panel and a table.
	</li>


</ol>


<div class="spacer-lg"></div>
<h2>Manage Qualified Health Plans</h2>



<div class="image-wrapper">
	<img src="/images/design/patterns/manage-qhps.png">
</div>

<ol>
	<li>
		<a href="{{ pagesrc.headers.url }}">Page header forms</a> &mdash; This <a href="{{ pagesrc.dropdowns.url }}">dropdown</a> affects the entire page, and hence is aligned with the page header.
	</li>
	<li>
		<span class="highlight">Beneficial redundancy</span> &mdash; Both the <a href="{{ pagesrc.lozenges.url }}">lozenge</a> and <a href="{{ pagesrc.checkboxes.url }}">checkbox</a> display the total number of plans. This helps the user intuitively understand that the checkbox selects all plans across all pages, as opposed to just on this page.
	</li>
	<li>
		<a href="{{ pagesrc.forms.url }}">Input field widths</a> &mdash; Input fields within a small column or container should take up the full container width.
	</li>


</ol>

<div class="spacer-lg"></div>
<h2>Load Plans</h2>


<div class="image-wrapper">
	<img src="/images/design/patterns/load-plans.png">
</div>
<ol>
	<li>
		<a href="{{ pagesrc.panels.url }}">Panel</a> and <a href="{{ pagesrc.headers.url }}">header</a> &mdash; This page has a list of sequential questions. Each question consists consists of a question as the panel header, and an input area inside the panel. Note that the panel does not use the full width of the page as it does not have a lot of content.
	</li>
	<li>
		<span class="highlight">Disabled panel</span> &mdash; Since this is a sequential questionnaire, questions are only enabled when the previous question is answered.
	</li>
</ol>

<div class="spacer-lg"></div>
<h2>Login</h2>

<div class="image-wrapper">
	<img src="/images/design/patterns/login.png">
</div>

<ol>
	<li>
		<a href="{{ pagesrc.forms.url }}">Input field widths</a> &mdash; This is a small panel, so the user input fields take out the entire width of the container.
	</li>
	<li>
		<a href="{{ pagesrc.forms.url }}">Single-page form</a> &mdash; <a href="{{ pagesrc.buttons.url }}">Buttons</a> on a single-page form are left aligned, with the primary button on the leftmost position.
	</li>
</ol>

