<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>
    {% assign pagekey = page.url | split:"/" | last | split:"." | first %}
    {% assign pageName = site.data.page-directory[pagekey].name %}

    {% if pageName != null %}{{ pageName }} - {% endif %}GetInsured Design
  </title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">

  <!-- Vendor scripts -->
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/scripts.js"></script>
</head>
<body>
  {% if page.menuType == "top-level" %}{% include menu-top-level.html %}
  {% elsif page.menuType == "styleguide" %}{% include menu-styleguide.html %}{% endif %}

  <div class="page-wrapper">
    <div class="content width-limiter-750">
      <article>
       
      {% for item in site.data.page-directory %}
        {% if item[0] == pagekey %}
         <h1>
          {{ item[1].name }}
          </h1>
        {% endif %}
      {% endfor %}
        
      {{ content }}
      
      </article>
      
      <div class="spacer-lg"></div>
      <div class="spacer-lg"></div>
      <div class="spacer-lg"></div>
      <div class="spacer-lg"></div>
    </div>
  </div>
</body>

</html>



